# Set and booleans 

## Exercises

## Set

1. Use the set() method and craete a set object named **d_set**.

In [11]:
d_set= set()

2. Add to your set object the following numbers consecutively: 3,4,5.

In [12]:
d_set.update((3,4,5))

3. Print out your set.

In [13]:
d_set

{3, 4, 5}

4. Use the following list and print out the unique elements inside it!

In [15]:
ls = [3,3,3,4,4,6,6,7,8,9,9,9,]

In [16]:
set(ls)

{3, 4, 6, 7, 8, 9}

## Booleans

5. Compare 10 and 15 using the following comparison methods:

 * ==, >, <

In [17]:
10 > 15

False

## Good Job!

### We will cover deeply the comparaison operator in the next session.