# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [2]:
my_string = "fuerteventura@2019"

In [19]:
print(my_string[0])
print(my_string[len("fuerteventura")]) # same as doing my_string[13]
print(my_string [-5])
print(my_string[0:-5])
my_string.split("@")

f
@
@
fuerteventura

['fuerteventura', '2019']

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

In [39]:
lst = [1,2,3,4,5,6,7,8,9,10,[2,3,4,5],66,99]

print(lst[1])
print(lst[-1]) #print(len(lst)-1)
print(lst[3:5])
print(lst[3:5][1])
lst.append("Python")

lst.pop(-4)

2
99
[4, 5]
5

[2, 3, 4, 5]

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [45]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [55]:
print(myDict.keys())
print(myDict.values())
print(myDict.items())
print(myDict["motorbike"])
print(myDict["pets"]["dog"])
print(myDict["bike"]-myDict["pets"]["cat"])

dict_keys(['car', 'bike', 'motorbike', 'pets'])
dict_values([100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}])
dict_items([('car', 100), ('bike', 200), ('motorbike', 300), ('pets', {'dog': 100, 'cat': 50, 'rabbit': 200})])
300
100
150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [59]:
t = (80, 30, 30, 12, 80, 40)

In [67]:
print(t[3])
print(t.index(12))
print(t.count(30))

12
3
2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [153]:
%pwd
my_file = open('Assessment.txt')
my_file.read()
with open('Assessment.txt', mode='a') as fw:
    fw.write('\n Karlos')

In [155]:
with open ("Assessment.txt", mode="r") as fr:
    content = fr.read()
    print(content)

Welcome to fuerteventura!

 Karlos
 Karlos
 Karlos
 Karlos
 Karlos
 Karlos
 Karlos
 Karlos
 Karlos
 Karlos

In [ ]:
my_file.read()

with open('Assessment2.txt', mode='w') as fw:
    fw.write('Karlos Assessment2')

In [156]:
with open ("Assessment2.txt", mode="r") as fr:
    content = fr.read()
    print(content)

Karlos Assessment2

## Booleans

In [78]:
# Answer before running cell
2 > 3

False

In [79]:
# Answer before running cell
3 <= 2

False

In [80]:
# Answer before running cell
3 == 2.0

False

In [81]:
# Answer before running cell
3.0 == 3

True

In [82]:
# Answer before running cell
4**0.5 != 2

False

In [83]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Comparison Operators

In [84]:
# answer before you run the code
12<5 and 6<2

False

In [85]:
# answer before you run the code
3 < 8 < 9

True

In [86]:
# answer before you run the code
3<9 and 12<30

True

In [87]:
# answer before you run the code 
8>2 and 4>10

False

In [88]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'

False

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [89]:
import numpy as np
number = np.random.randn()
number

# Insert here your if, elif, else statement
if number > 1 and number < -1:
    print('Number between 1 and -1')

elif number < -1 and number < 1:
    print("Number is between -1 and 1")

else:
    print(number)

-0.2733103671521538

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [162]:
lst = [3,5,68,3,4,19,18,5,4]

In [163]:
for num in lst:
    if num %2 ==0:
        print(num)

68
4
18
4

In [164]:
odds= []
even = [num for num in lst if num not in odds]

for num in even:
    print (num)

3
5
68
3
4
19
18
5
4

In [99]:
count = 0 
for el in lst:
    count= count +el

print (count)

129

In [165]:
print("the unique numbers in the list are {}". format(set(lst)))

the unique numbers in the list are {3, 4, 68, 5, 18, 19}

8. Use the dictionary below and print only the values:

In [166]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [172]:
print(myDict.values())

for value in values:
    print(value)

dict_values([100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}])
100
200
300
{'dog': 100, 'cat': 50, 'rabbit': 200}

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

In [173]:
x= 10

while x < 20:
    x+= 1
    print(x)

11
12
13
14
15
16
17
18
19
20

In [174]:
x= 10

while x <= 20:
    print(x)
    x+= 1

10
11
12
13
14
15
16
17
18
19
20

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

In [175]:
# list
lst_empty=[]

# counter
x=30

# while loop

while x <= 50:
    if x%2 ==0:
        print(x)
    else:
        lst_empty.append(x)
    x+=1
# print list
lst_empty

30
32
34
36
38
40
42
44
46
48
50

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

In [109]:
# counter
x=15

# while loop
while x < 25:
    if x %12 ==0:
        break
    else:
        print (x)
    x += 1

15
16
17
18
19
20
21
22
23

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [112]:
lst= [x for x in "Maradona"]
lst

['M', 'a', 'r', 'a', 'd', 'o', 'n', 'a']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [113]:
def myfunct(n1):
    return(n1*2)

myfunct(2)

4

14. Write a function that takes in input a list and return only the even numbers

In [177]:
def myfunc2(lst):
    empty_list= []
    for el in lst:
        if el %2==0:
            empty_list.append(el)
    return(empty_list)

myfunc2(list(range(1,18)))

[2, 4, 8]

In [ ]:
def myfunc3(lst):
    return [x for x in lst if x%2==0]

myfunc3([2,4,5,77,8,99])

15. Write a function that checks whether a number is in a given range (Inclusive of high and low)
 * E.g: *myfunc(number, lower, higher)*

In [141]:
def myfunc4(num,low,hight):
    if num >low and num < hight:
        return ("in")
    else:
        return ("out")

In [144]:
def myfunc4(num,low,hight):
    if low<num< hight:
        return ("in")
    else:
        return ("out")

In [145]:
myfunc4(10,2,20)

'in'

16. Write a fuction that check if a given number is prime.

In [129]:
def Check_Prime(number):
    '''
    Check if a number is prime
    '''
    if number > 2 and number%2 == 0:
        return False
    if number < 2:
        return False
    else:
        return True
    
print(Check_Prime(3))
print(Check_Prime(4))

True
False

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization