# Intro to Pandas

## Rename Index and Columns Exercises

1. Import Pandas and Numpy

In [1]:
# Basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

#### Use the following DF

In [3]:
# set the data
npdata = np.random.randn(16).reshape(4,4)

# Create the DF
df = DataFrame(data= npdata, index = ['A', 'B', 'C', 'D'], columns= ['Col1', 'Col2', 'Col3', 'Col4'])

# Show
df

       Col1      Col2      Col3      Col4
A -0.052426  0.588133  0.759536 -1.603389
B -0.168061  0.076997  1.747697 -0.035033
C -0.772323  0.015485  0.311357  1.793240
D  0.497342  0.711622  1.680782 -1.904617

## The .rename() method

1. Put all the rows indexes lower case

In [4]:
# Rows lower
df.rename(str.lower, axis= "index")

       Col1      Col2      Col3      Col4
a -0.052426  0.588133  0.759536 -1.603389
b -0.168061  0.076997  1.747697 -0.035033
c -0.772323  0.015485  0.311357  1.793240
d  0.497342  0.711622  1.680782 -1.904617

2. Put all the columns name upper case

In [5]:
# Columns upper
df.rename(str.upper, axis= "index")

       Col1      Col2      Col3      Col4
A -0.052426  0.588133  0.759536 -1.603389
B -0.168061  0.076997  1.747697 -0.035033
C -0.772323  0.015485  0.311357  1.793240
D  0.497342  0.711622  1.680782 -1.904617

### Rename using mapping

3. Rename all the rows with the following names ('alfa', 'beta', 'gamma', 'teta')

In [6]:
# Rename index
df.rename(index= {"A":"alfa", "B": "beta", "C": "gamma", "D": "teta"})

           Col1      Col2      Col3      Col4
alfa  -0.052426  0.588133  0.759536 -1.603389
beta  -0.168061  0.076997  1.747697 -0.035033
gamma -0.772323  0.015485  0.311357  1.793240
teta   0.497342  0.711622  1.680782 -1.904617

4. Rename 'Col1' to 'A1' and 'Col4' to 'D4'

In [7]:
# Rename columns
df.rename(columns= {"Col1":"A1", "Col4": "D4"})

         A1      Col2      Col3        D4
A -0.052426  0.588133  0.759536 -1.603389
B -0.168061  0.076997  1.747697 -0.035033
C -0.772323  0.015485  0.311357  1.793240
D  0.497342  0.711622  1.680782 -1.904617

5. Rename again all the columns of the df using the following list.

In [ ]:
new_cols = ['ab','bc','cd','df']

In [10]:
# Rename again df
df.columns=['ab','bc','cd','df']
df

         ab        bc        cd        df
A -0.052426  0.588133  0.759536 -1.603389
B -0.168061  0.076997  1.747697 -0.035033
C -0.772323  0.015485  0.311357  1.793240
D  0.497342  0.711622  1.680782 -1.904617

# Good Job!