# Intro to Pandas

## Reindex Exercises

Import Pandas and Numpy

In [1]:
# Basic Imports
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

### .reindex() method

1. Create a series from range 1 to 6 and index every value with the letter from "A" to "F".

In [4]:
# Lets create a new series
ser1 = Series(data= [1,2,3,4,5,6] , index= ["A", "B", "C", "D", "E", "F"])

In [5]:
# print the ser1
ser1

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [24]:
x= list(ser1.index)
x.append("G")
x.append("H")
x

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

 2. Reindex the series and adding the letters "G" and "H"

In [25]:
# Reindex the ser1
ser2 = ser1.reindex(index= x)

In [26]:
# print the ser2
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    6.0
G    NaN
H    NaN
dtype: float64

3. Reindex the ser2 with the letter "Z" and fill it with the value 100.

In [9]:
# Reindex ser2
ser2 = ser1.reindex(index= ['A','B','C','D','E','F','G','H','Z'], fill_value=0)
ser2

A    1
B    2
C    3
D    4
E    5
F    6
G    0
H    0
Z    0
dtype: int64

### Reindexing rows and columns of DF

In [13]:
# Import numpy random.randn
from numpy.random import randn
randn_data = randn(20).reshape((5,4))

#Lets make a datafram ewith some random values
df1 = DataFrame(data = randn_data, index=['A','D','E','F','G'], columns=['CL1','CL2','CL3','CL4'])

#Show
df1

        CL1       CL2       CL3       CL4
A  1.173396  0.562057  0.546539 -2.351782
D  1.849821  1.516253  0.378801  0.856284
E  0.204966  0.398495  0.147944  0.213025
F  1.117432  0.605493  1.704094 -0.462089
G  0.675237 -0.692506  0.946135  0.533733

4. Use the reindex method on df1 and add the row "B"

In [14]:
# Add row B
df1.reindex(index= ['A','B','D','F','G'])

        CL1       CL2       CL3       CL4
A  1.173396  0.562057  0.546539 -2.351782
B       NaN       NaN       NaN       NaN
D  1.849821  1.516253  0.378801  0.856284
F  1.117432  0.605493  1.704094 -0.462089
G  0.675237 -0.692506  0.946135  0.533733

5. Use the reindex method on df1 and add a new column "CL5"

In [15]:
# Add new column CL5
new_columns = ['CL1','CL2','CL3','CL4','CL5']

df1.reindex(columns = new_columns)

        CL1       CL2       CL3       CL4  CL5
A  1.173396  0.562057  0.546539 -2.351782  NaN
D  1.849821  1.516253  0.378801  0.856284  NaN
E  0.204966  0.398495  0.147944  0.213025  NaN
F  1.117432  0.605493  1.704094 -0.462089  NaN
G  0.675237 -0.692506  0.946135  0.533733  NaN

### Rename columns

5. Use the .rename() method and rename the column of df1 to ('A1','B2','C3','D4')

In [17]:
# Rename df1 columns
df1.rename(columns= {'CL1':'A1', 'CL2':'B2', 'CL3':'C3', 'CL4':'D4'})

         A1        B2        C3        D4
A  1.173396  0.562057  0.546539 -2.351782
D  1.849821  1.516253  0.378801  0.856284
E  0.204966  0.398495  0.147944  0.213025
F  1.117432  0.605493  1.704094 -0.462089
G  0.675237 -0.692506  0.946135  0.533733

In [18]:
df1

        CL1       CL2       CL3       CL4
A  1.173396  0.562057  0.546539 -2.351782
D  1.849821  1.516253  0.378801  0.856284
E  0.204966  0.398495  0.147944  0.213025
F  1.117432  0.605493  1.704094 -0.462089
G  0.675237 -0.692506  0.946135  0.533733

# Congratulation! Exercises completed!