In [5]:
z="karlos"

In [7]:
z.upper()

'KARLOS'

In [9]:
y="KARLOS"

In [10]:
y.lower()

'karlos'

In [11]:
s="fuerteventura"

In [12]:
s.title()

'Fuerteventura'

In [14]:
s.split("e")

['fu', 'rt', 'v', 'ntura']

In [16]:
a="hello fuerte i´m here"

In [17]:
a.split()

['hello', 'fuerte', 'i´m', 'here']

In [18]:
"I like {} surfing in {}".format("to", "fuerte")

'I like to surfing in fuerte'

In [19]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [20]:
my_list = ["A string", 23, 100.2, "o"]

In [21]:
my_list

['A string', 23, 100.2, 'o']

In [22]:
len(my_list)

4

In [24]:
my_list = ["one", "two", "three", 4,5]

In [25]:
my_list[0]

'one'

In [26]:
my_list[:3]

['one', 'two', 'three']

In [27]:
my_list[-1]

5

In [28]:
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [29]:
my_list[0] =100

In [30]:
my_list

[100, 'two', 'three', 4, 5]

In [31]:
my_list[5:7]= [6,7]

In [32]:
my_list

[100, 'two', 'three', 4, 5, 6, 7]

In [33]:
l= [1,2,3,4,5]

In [34]:
l.append("hello")

In [35]:
l

[1, 2, 3, 4, 5, 'hello']

In [36]:
l.pop()

'hello'

In [37]:
l

[1, 2, 3, 4, 5]

In [39]:
l.pop(-2)

3

In [40]:
new_list = ["a", "b", "c", "d", "e"]
new_list

['a', 'b', 'c', 'd', 'e']

In [45]:
new_list.reverse()

In [46]:
new_list

['e', 'd', 'c', 'b', 'a']

In [47]:
new_list.sort()

In [48]:
new_list

['a', 'b', 'c', 'd', 'e']

In [50]:
n= [10,20,4,7,100,43,2,22,99,54]
n

[10, 20, 4, 7, 100, 43, 2, 22, 99, 54]

In [51]:
n.sort()

In [52]:
n

[2, 4, 7, 10, 20, 22, 43, 54, 99, 100]

In [53]:
n.sort(reverse=True)

In [54]:
n

[100, 99, 54, 43, 22, 20, 10, 7, 4, 2]

In [57]:
lst_1= [1,2,3]
lst_2= [4,5,6]
lst_3= [7,8,9]

nested_list = [lst_1, lst_2, lst_3]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [58]:
nested_list[0]

[1, 2, 3]

In [59]:
nested_list[0][1]

2

In [60]:
range(10)

range(0, 10)

In [62]:
for el in range(0,5):
    print(el)

0
1
2
3
4

In [64]:
l=[0,1,2,3,4]

for el in l:
    print(el)

0
1
2
3
4

In [65]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [66]:
first_col = [index[0] for index in nested_list]
first_col

[1, 4, 7]

In [73]:
my_dict = {"key1" : "value1", "key2": "value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [74]:
my_dict["key1"]

'value1'

In [75]:
my_dict2 = dict()
my_dict2

{}

In [78]:
my_dict2["apple"]= 10

In [79]:
my_dict2

{'apple': 10}

In [80]:
my_dict2["banana"] =20

In [83]:
my_dict2

{'apple': 10, 'banana': 20}

In [92]:
my_dict = {"key1": 123, "key2": [12,23,33], "key3": ["item0", "item1", "item2"]}

In [93]:
my_dict["key3"]

['item0', 'item1', 'item2']

In [84]:
d= {"key1": {"nestkey": {"subnestkey": "value"}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [85]:
d["key1"]

{'nestkey': {'subnestkey': 'value'}}

In [86]:
d["key1"]["nestkey"]

{'subnestkey': 'value'}

In [87]:
d["key1"]["nestkey"]["subnestkey"]

'value'

In [88]:
d= {"key1": l, "key2": 2, "key3": 3}
d

{'key1': [0, 1, 2, 3, 4], 'key2': 2, 'key3': 3}

In [89]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [94]:
t= (1,2,3)
t

(1, 2, 3)

In [95]:
len(t)

3

In [96]:
t =("one","one", 2,3)
t

('one', 'one', 2, 3)

In [97]:
t[0]

'one'

In [98]:
t[-1]

3

In [99]:
t.index("one")

0

In [100]:
t.index(2)

2

In [101]:
t.count("one")

2

In [103]:
t[0]= 10

TypeError: 'tuple' object does not support item assignment

# Files

In [105]:
%%writefile first_test.txt
Hello, thi is a quick
blalall, blalala

Writing first_test.txt

In [106]:
%pwd

'C:\\Users\\karlo\\Desktop\\Fuerteventura_2019\\Cogingwaves-Fuerte-2019\\SESSION_02 Object and Data Structure\\Karlos'

In [107]:
my_file = open("first_test.txt")

In [108]:
my_file.read()

'Hello, thi is a quick\nblalall, blalala\n'

In [109]:
my_file.read() # it does not read again because it reahed the end of the text and does not come bvack

''

In [110]:
my_file.seek(0)

0

In [111]:
my_file.read()

'Hello, thi is a quick\nblalall, blalala\n'

In [112]:
my_file.seek(0)
content= my_file.read()

print(content)

Hello, thi is a quick
blalall, blalala

In [113]:
my_file.seek(0)

0

In [114]:
my_file.readlines()

['Hello, thi is a quick\n', 'blalall, blalala\n']

In [115]:
my_file.seek(0)

0

In [116]:
for rows in my_file.readlines():
    print(rows)

Hello, thi is a quick

blalall, blalala

In [118]:
my_file.close()

In [119]:
%pwd

'C:\\Users\\karlo\\Desktop\\Fuerteventura_2019\\Cogingwaves-Fuerte-2019\\SESSION_02 Object and Data Structure\\Karlos'

In [121]:
my_file2= open("second_test.txt", "w+")

In [122]:
my_file2.read()

''

In [123]:
my_file2.write("this is the line")

16

In [124]:
my_file2.seek(0)

0

In [125]:
# this is the most common
with open("first_test.txt", mode="r") as f:
    content= f.read()
    print(content)

Hello, thi is a quick
blalall, blalala

In [127]:
# if the file is not already created it will create as new one

with open("trird_test.txt", mode="w") as fw:
    fw.write("Hello guys!, \nWelcome to Fuerteventura!")

In [ ]:
# appending a new line

In [128]:
%pwd

'C:\\Users\\karlo\\Desktop\\Fuerteventura_2019\\Cogingwaves-Fuerte-2019\\SESSION_02 Object and Data Structure\\Karlos'

# Set and Booleans

In [129]:
myset= set()

In [130]:
myset.add(10)

In [131]:
myset

{10}

In [132]:
myset.add(20)

In [133]:
myset

{10, 20}

In [134]:
myset.add(10)

In [135]:
myset

{10, 20}

In [136]:
1 >2

False

In [138]:
1 ==1

True