# Strings Exercises

## Creating strings

1. Craete the string 'Data' and assign It to the variable x.

In [2]:
x="Data"

2. Craete the string 'Science' and assign It to the variable y.

In [3]:
y="Science"

3. Assign the two variables to the variable z (concatenate).

In [6]:
z=x+y

4. Print the variable z.

In [7]:
z

'DataScience'

## Slicing Strings

From the previouse exercise use the variable z:

   1. Print the first element (index=0) of the string.

In [8]:
z[0]

'D'

   2. Print the last element of the string.

In [10]:
z[10]

'e'

   3. Print the sequence from the 2th element to the last.

In [12]:
z[2:]

'taScience'

   4. Print the sequence from the first element to the last with the steps of 2. **[start:stop:step]**

In [14]:
z[0: :2]

'DtSine'

   5. Print evarything but NOT the last letter.

In [16]:
z[:-1]

'DataScienc'

   6. Print the string backward

In [18]:
z[::-1]

'ecneicSataD'

## Build-in Methods

From the first exercise use the variable z:

1. Print all the string UPPER CASE.

In [19]:
z.upper()

'DATASCIENCE'

2. Print all the string lower case.

In [20]:
z.lower()

'datascience'

3. Split the string on the with space.

In [32]:
z.split()

['DataScience']

4. Split the string on the 'a'.

In [22]:
z.split("a")

['D', 't', 'Science']

5. Split the string on the 'e'.

In [23]:
z.split("e")

['DataSci', 'nc', '']

## String Formatting

1. Create the varible a = 'like'

In [26]:
a="like"

2. Create the variable b = 'surf'

In [27]:
b="surf"

2. Create the variable c = 'Fuerteventura!'

In [28]:
c="Fuerteventura"

3. Complete the string **'I {} to {} in {}'** using the .format() method and the two previouse variable.

In [30]:
"I {} to {} in {}".format(a,b,c)

'I like to surf in Fuerteventura'

4. Complete the string like in step #3 but invert the order of the words using the index.

In [33]:
"I {} to {} in {}".format(c,b,a)

'I Fuerteventura to surf in like'

# Nice Job!