In [1]:
for x in "fuerte": 
    print(x)

f
u
e
r
t
e

In [3]:
lst= [x for x in "fuerteventura"]
lst

['f', 'u', 'e', 'r', 't', 'e', 'v', 'e', 'n', 't', 'u', 'r', 'a']

In [4]:
lst= [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
lst= [x for x in range(11) if x % 2 ==0]
lst

[0, 2, 4, 6, 8, 10]

In [7]:
lst= [x**2 for x in [x**2 for x in range(5)]]
lst

[0, 1, 16, 81, 256]

In [8]:
for x in range(5):
    print(x**2) # first step

0
1
4
9
16

# Functions

In [9]:
# my own function
def my_all(iterable):
    for el in iterable:
        if el:
            return False
    
    return True

In [14]:
my_all

In [16]:
my_all([10>3,12<4])

False

In [17]:
lst= ["apple", "banana", "grapes", "pear"]

enumerate(lst)

In [18]:
d= enumerate(lst)

In [19]:
list(d)

[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]

In [22]:
for index, value in enumerate(lst):
    print(index, value)

0 apple
1 banana
2 grapes
3 pear

In [23]:
for index, value in enumerate(lst,100):
    print(index, value)

100 apple
101 banana
102 grapes
103 pear

In [24]:
a = [10, 20, 30, 40]
b = ['I', 'Love', 'Surfing']
c = [1,2,3,4]

zipped = zip(a, b, c)
list(zipped)

[(10, 'I', 1), (20, 'Love', 2), (30, 'Surfing', 3)]

In [26]:
def say_hello():
    print("hello")

In [27]:
say_hello()

hello

In [28]:
x= say_hello()

hello

In [30]:
x #it does nothing

In [31]:
def gretting(name):
    return("Hello" + name)

In [32]:
gretting()

TypeError: gretting() missing 1 required positional argument: 'name'

In [35]:
gretting(" Karlos")

'Hello Karlos'

In [ ]:
gretting()

In [41]:
def add_number(n1, n2):
    '''
    This function add two numbers
    '''
    return(n1, n2)

In [43]:

add_number(5, 'test')

(5, 'test')

In [44]:
def add_number(n1):
    '''
    This function add two numbers
    '''
    return(n1)

In [45]:
add_number(5)

5

In [46]:
def add_number(n1,n2):
    '''
    This function add two numbers
    '''
    return(n1*n2)

In [47]:
add_number(2,5)

10

In [49]:
def String_Check(string):
    '''
    This function check if "car" is in the string.
    '''
    return 'car' in string

In [50]:
String_Check("my car is yellow")

True

In [51]:
String_Check("my CAR is yellow")

False

In [53]:
def String_Check(string):
    '''
    This function check if "car" is in the string.
    '''
    return 'car' in string.lower()

In [54]:
String_Check("my CAR is yellow")

True

In [55]:
import pandas

In [58]:
# before you have to pip install tweepy from Anaconda Prompt
import tweepy