# Intro to Pandas

## Series

In [1]:
# basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

### Create  series

1. Create a series within a range from 1 to 10

In [5]:
#Lets create a Series 
serie = Series(data= np.arange(1,11))

#Show
serie

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

2. Check the type of the series

In [7]:
# check the type
type(serie)

pandas.core.series.Series

3. Show the value inside the series

In [9]:
#Lets show the values
serie.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

4. Show the index of the series

In [10]:
#Lets show the index
serie.index

RangeIndex(start=0, stop=10, step=1)

###  Series and index

5. Given the two list belove create a series with proper data and index

In [11]:
values = [10,20,30,40,50]
index = ['Rome','Madrid','Barcelona','London','Paris']

In [15]:
# Create the series 
my_series1 = Series(data= values, index=  index)

#Show
my_series1

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

From now we will continue to work on the series you have created

In [16]:
# show the index
my_series1.index

Index(['Rome', 'Madrid', 'Barcelona', 'London', 'Paris'], dtype='object')

6. Grab the value of Madrid

In [18]:
# Grab the value
my_series1[1]

20

#### Array operations

7. Check what city has the value upper than 30

In [20]:
#Check the value
my_series1[ my_series1 > 30]

London    40
Paris     50
dtype: int64

8. Check the value upper than 30 but get back a boolean series

In [21]:
# Boolean Series
my_series1 > 30

Rome         False
Madrid       False
Barcelona    False
London        True
Paris         True
dtype: bool

#### Series as Ordered Dictionary

9. Check if 'Rome' is inside the series

In [22]:
#Check in Series
"Rome" in my_series1

True

#### Series into Python dictionary

10. Convert the series into a python dictionary

In [24]:
# The "to_dict()" method
sr_dict = my_series1.to_dict()

#Show
sr_dict

{'Rome': 10, 'Madrid': 20, 'Barcelona': 30, 'London': 40, 'Paris': 50}

11. Convert the previouse dict back to a series

In [26]:
# Back to series use the "Series" method
my_series1 = Series(data= sr_dict)

# Show
my_series1

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

### Operation on Series

12. Run the cell below and create a new series

In [27]:
# Here we set a new index
index_2 = ['Rome','Madrid','Barcelona','London','Paris','Berlin']

my_series2 = Series(data= sr_dict, index= index_2)
my_series2

Rome         10.0
Madrid       20.0
Barcelona    30.0
London       40.0
Paris        50.0
Berlin        NaN
dtype: float64

13. Check if there are **null** values inside the *my_series2*

In [28]:
# Null values
my_series2.isnull()

Rome         False
Madrid       False
Barcelona    False
London       False
Paris        False
Berlin        True
dtype: bool

14. Check **not null** values indside the *my_series2*

In [30]:
# not null values
my_series2.notnull()

Rome          True
Madrid        True
Barcelona     True
London        True
Paris         True
Berlin       False
dtype: bool

15. Give a name **"Cities Life"** to the *my_series1*

In [32]:
#Series name
my_series2.name = "Karlos Series"

#Show
my_series2

Rome         10.0
Madrid       20.0
Barcelona    30.0
London       40.0
Paris        50.0
Berlin        NaN
Name: Karlos Series, dtype: float64

16. Give the name **"CITIES"** to the index of *my_series1*

In [36]:
# Name the index
my_series2.index.name = "CITIES"

#Show
my_series2

CITIES
Rome         10.0
Madrid       20.0
Barcelona    30.0
London       40.0
Paris        50.0
Berlin        NaN
Name: Karlos Series, dtype: float64

# Nice Job!