# for Loops

## Exercises

General format for a **for** loop in Python:

    for item in object:
        statements to do stuff

1. Create a list from 1 to 6. Loop over the list and print every value

In [1]:
# list
lst = [1,2,3,4,5,6]

# loop
for num in lst:
    print (num)

1
2
3
4
5
6

2. Use the list you have created at point 1, loop over it and print the squared value of every element

In [24]:
for num in lst:
        print(num**2)

1
4
9
16
25
36

3. Create a list of 4 strings, loop over the list and print the string together with his length.  
 * E.g: *string:length*
 
**Mandatory:** One string length must be = 5

In [30]:
# list of strings
cars = ['honda', 'tesla',  'nissan', 'ferrari']
# loop
for index in range(len(cars)):
    print (len(cars[index]),cars[index])

5 honda
5 tesla
6 nissan
7 ferrari

3. Use the list you have created at point 3. Loop over it and print whether the string is >5, <5 or equal to 5.

In [38]:
for num in lst:
    if num > 5:
        print ("String is bigger than 5")
    elif num < 5 or num == 5:
        print ("String is less than 5 or equal to 5")

String is less than 5 or equal to 5
String is less than 5 or equal to 5
String is less than 5 or equal to 5
String is less than 5 or equal to 5
String is less than 5 or equal to 5
String is bigger than 5

## Iterating by sequence index

4. Use the following list. Loop over it and print every element using the "indexing" method. The output should be:
 * *The animal is: animal name*

In [39]:
animals = ['cat', 'dog',  'cow', 'horse','goat']

# loop
for index in range(len(animals)):
    print ('The animal is :', animals[index])

The animal is : cat
The animal is : dog
The animal is : cow
The animal is : horse
The animal is : goat


### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol.

5. Craete a list in range from 1 to 12, loop over it and print out whether a number is equal or odd.

In [41]:
# list
lst = [1,2,3,4,5,6,7,8,9,10,11,12]
# loop
for num in lst:
    if num % 2 == 0:
        print ('{} is par'.format(num))
    else:
        print ('{} is impar'.format(num))

1 is impar
2 is par
3 is impar
4 is par
5 is impar
6 is par
7 is impar
8 is par
9 is impar
10 is par
11 is impar
12 is par

6. Use the list below, loop over it and print out the sum of every number. Remember, use a counter outside the loop.

In [43]:
# list
w = [10,20,30,40,50]

# counter
count = 0 

# loop
for el in w:
    count = count + el

print (count)

150

7. Use the two lists below, loop throug both of them and print out whether the sum of the couple of variable is odd or equal.

In [84]:
# lists
w = [1,2,3,4]
z = [1,2,3,4]

for el1 in w:
    for el2 in z:
        sum_= el1 + el2
        if c % 2 == 0:
            print ('{} is even'.format(sum_))
        else:
            print ('{} is odd'.format(sum_))

2 is even
3 is even
4 is even
5 is even
3 is even
4 is even
5 is even
6 is even
4 is even
5 is even
6 is even
7 is even
5 is even
6 is even
7 is even
8 is even

8. Use the list of tuple below, loop over it and print every single tuple.

In [85]:
# tuple list
t_list = [(5,4),(4,7),(8,10)]

# loop
for el in t_list:
    print (el)

(5, 4)
(4, 7)
(8, 10)

9. Loop over the list below and print the sum of the **first + second + third** element of every tuple. **Hint:** Tuple unpacking

In [12]:
# loop

10. Loop over the dictionary below and print both key and value

In [29]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}

In [13]:
# dict loop

11. Loop the **dz** dictionary and print out only the values.

In [14]:
# loop

11. Use the **dz** dictionary and the **t_list**. Loop throug both of them and print out the sum of every value of the dictionary with the first element of the tuple.

In [16]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}
t_list = [(5,4),(4,7),(8,10)]

In [18]:
# loop

# Congratulation! You did a nice work!